<!DOCTYPE html>
<html>
<head>
    <title>Delete User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h3><a href="/users">User List</a></h3>
    <h1>Delete User</h1>
    <form action="/users/delete1" method="post">
        <table>
            <tbody>
            <tr>
                <td>User Name</td>
                <td><input type="text" name="username" required/></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Delete</button></td>
    </form>
</div>
</body>
</html>