<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h3><a href="/users">User List</a></h3>
    <h1>Edit User</h1>
    <form action="/users/update/<%= user.username%>" method="post">
        <table>
            <tbody>
            <tr>
                <td>User Name</td>
                <td><input type="text" name="username" value="<%= user.username %>" /></td>
            </tr>
            <tr>
                <td>Display Name</td>
                <td><input type="text" name="displayname" value="<%= user.displayname %>" /></td>
            </tr>
            <tr>
                <td>Department</td>
                <td><input type="text" name="department" value="<%= user.department %>" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Update</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>